<h3>Créer un nouvel évènement</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Titre</label>
      <input type="text" class="form-control" id="titre" required [(ngModel)]="evenement.titre" name="titre" required ngModel #c="ngModel">
    </div>
    <div class="alert alert-danger" *ngIf="c.invalid && c.touched">
      Titre obligatoire 
    </div>

    <div class="form-group">
      <label for="name">Date du début</label>
    
      <input type="date" class="form-control" id="datedebut" required [(ngModel)]="evenement.datedebut" name="datedebut"  required ngModel #d="ngModel">
      
  </div>
  <div class="alert alert-danger" *ngIf="d.invalid && d.touched">
    Date du début obligatoire 
  </div>


   
      <!-- <input type="text" class="form-control" id="datedebut" required [(ngModel)]="evenement.datedebut" name="datedebut"  required ngModel #d="ngModel">
    </div>
    <div class="alert alert-danger" *ngIf="d.invalid && d.touched">
      Date debut obligatoire 
    </div> -->

    <div class="form-group">
      <label for="name">Date de fin</label>
     
        
        <input type="date" class="form-control" id="datefin" required [(ngModel)]="evenement.datefin" name="datefin"  required ngModel #e="ngModel">
        
    </div>
    <div class="alert alert-danger" *ngIf="e.invalid && e.touched">
      Date de fin obligatoire 
    </div>

    <div class="form-group">
        <label for="name">Description</label>
        <input type="text" class="form-control" id="description" required [(ngModel)]="evenement.description" name="description"  required ngModel #g="ngModel">
      </div>
      <div class="alert alert-danger" *ngIf="g.invalid && g.touched">
        Description obligatoire 
      </div>

      <div class="form-group">
        <label for="name">Lieu</label>
        <input type="text" class="form-control" id="lieu" required [(ngModel)]="evenement.lieu" name="lieu"  required ngModel #h="ngModel">
      </div>
      <div class="alert alert-danger" *ngIf="h.invalid && h.touched">
        Lieu obligatoire 
      </div>

    <button type="submit"  class="btn btn-success" [disabled]="f.invalid">Submit</button>
  </form>
</div>


